* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #20948B;
  font-family: "Varela Round";
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.wrapper {
  margin-top: 100px;
  text-align: center;
}

.search-box-container {
  margin-bottom: 10px;
  color: white;
}

.search-box-text {
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #696969;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}


.search-box-submit {
  border: 1px solid #dedede;
  background-color: green;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.random-text {
  color: white;
}

.result-list {
  width: 100%;
}

.single-result {
  color: #20948B;
  text-decoration: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
}

p {
  font-size: 0.8rem;
}

&:hover {
  color: #333;
  border-color: #ff6200;
}
