
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C0C0C0;
  font-family: "Varela Round";
}

a {
  text-decoration: none;
  color: #B22222;
}
.wrapper {
  margin-top: 100px;
  text-align: center;
}

.search-box-container {
  margin-bottom: 10px;
  color:  #B22222;
}

.search-box-text {
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #696969;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;

  &:focus {
    border-color: #B22222;

    outline: none;
  }
}

.search-box-submit {
  border: 1px solid #dedede;
  background-color: green;
  cursor: pointer;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.random-text {
  color: #696969;
}

.result-list {
  width: 100%;
}

.single-result {
  color: #696969;
  text-decoration: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 5px;
  text-align: left;
}

  p {
    font-size: 0.8rem;
  }

  &:hover {
    color: #333;
    border-color: #ff6200;
  }
